<a href="https://colab.research.google.com/github/anapaulamdb/xplab-desafio-python/blob/master/aula3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Manipulação de dados**

In [ ]:
import pandas as pd #importação da biblioteca

pd.read_csv(**string**, sep = **string**, skiprows = **int**, encoding = **string específica**)

## Arquivos CSV e TXT

1. **string** -> nome do arquivo
2. **string** -> string que separa os dados no arquivo
3. **int** -> quantidade de linhas a serem puladas
4. **string específica** -> como o arquivo está codificado : utf-8 ou latin-1

In [ ]:
df_materiais = pd.read_csv('materiais.csv', sep = ';', skiprows = 0, encoding = 'utf-8')

In [ ]:
df_materiais

      Material     Texto breve material
0      4000010         ALCACHOFRA 300MG
1      4000013  ANTI-SEPTICO ANESTESICO
2      4000014           ASSEPTCARE SOL
3      4000015           ASSEPTCARE SOL
4      4000016        BENATUX FRAMBOESA
...        ...                      ...
4577   6001409             SABONETE LIQ
4578   6001410             SABONETE LIQ
4579   6001411             TÔNICO NIVEA
4580   6001412             TÔNICO NIVEA
4581   6001415         CHOCOLATE KINDER

[4582 rows x 2 columns]

In [ ]:
df_materiais['Material'].loc[0]

4000010

In [ ]:
df_pedidos = pd.read_csv('pedidos.txt', sep = '|', skiprows = 2, encoding = 'latin-1')

## Arquivos XLSX

pd.read_excel( **string**, sheet_name = **string** ou **int**, skiprows = **int**)

1. **string** -> nome do arquivo
2. **string** ou **int** -> nome da aba do excel
3. **int** -> numero de linhas a serem puladas

In [ ]:
df_vendas1 = pd.read_excel('vendas_1.xlsx', sheet_name = 'vendas', skiprows = 0)

In [ ]:
df_vendas1

            Data  Material  Qtd.faturd
0     25-04-2020   6000110           1
1     25-04-2020   6000129           1
2     25-04-2020   6000163           1
3     25-04-2020   6000172           1
4     25-04-2020   6000892           1
...          ...       ...         ...
8652  27-04-2020   4005739           1
8653  27-04-2020   4005739           1
8654  27-04-2020   4005903           1
8655  27-04-2020   4005911           1
8656  27-04-2020   4005927           1

[8657 rows x 3 columns]

In [ ]:
df_vendas2 = pd.read_excel('vendas_2.xlsx', sheet_name = 0, skiprows = 0)

# Tratamento de dados

## Renomeando colunas

dataframe.rename(columns=**dict**)

1. **dict** = {'coluna_antiga': 'coluna_nova'}

In [ ]:
df_materiais = df_materiais.rename(columns={'Material': 'material', 'Texto breve material': 'texto_breve' })

dataframe.columns = **lista**

1. **lista** = ['coluna_nova']

In [ ]:
df_pedidos.columns = ['cod_fornecedor', 'material', 'qtd_pedido', 'texto_breve', 'qtd_estoque']

In [ ]:
df_materiais

      material              texto_breve
0      4000010         ALCACHOFRA 300MG
1      4000013  ANTI-SEPTICO ANESTESICO
2      4000014           ASSEPTCARE SOL
3      4000015           ASSEPTCARE SOL
4      4000016        BENATUX FRAMBOESA
...        ...                      ...
4577   6001409             SABONETE LIQ
4578   6001410             SABONETE LIQ
4579   6001411             TÔNICO NIVEA
4580   6001412             TÔNICO NIVEA
4581   6001415         CHOCOLATE KINDER

[4582 rows x 2 columns]

In [ ]:
df_vendas1.columns = ['data', 'material', 'qtd_vendas']

In [ ]:
df_vendas2.columns = ['data', 'material', 'qtd_vendas']

##Deletanto Colunas

dataframe.drop( **lista**, axis = **string especifica** ou **int**)

1. **lista** -> lista de nomes de colunas ou index de linhas a serem deletados
2. **string especifica** ou **int** -> 'columns' ou 'index'

In [ ]:
df_materiais = df_materiais.drop(['texto_breve'], axis ='columns')

In [ ]:
df_materiais

      material
0      4000010
1      4000013
2      4000014
3      4000015
4      4000016
...        ...
4577   6001409
4578   6001410
4579   6001411
4580   6001412
4581   6001415

[4582 rows x 1 columns]

dataframe[**lista**].copy()

1. **lista** = ['colunas a manter']

In [ ]:
df_pedidos = df_pedidos[['material', 'qtd_pedido', 'qtd_estoque']].copy()

In [ ]:
df_vendas1 = df_vendas1[['material', 'qtd_vendas']].copy()

In [ ]:
df_vendas2 = df_vendas2.drop(['data'], axis = 'columns')

## Verificando tipos de colunas

dataframe.dtypes - para verificas tipos de todas as colunas
dataframs['coluna'].dtype

In [ ]:
df_materiais.dtypes

material    int64
dtype: object

In [ ]:
df_pedidos.dtypes

material       float64
qtd_pedido       int64
qtd_estoque      int64
dtype: object

## Alterando tipos de colunas

*para apenas uma coluna:*
dataframe['coluna'].astype(**palavra reservada**)

*para mais de uma coluna:* 
dataframe[['coluna1', 'coluna2']].astype(novo_tipo)

1. **palavra reservada** -> str, int, float ou bool

In [ ]:
df_pedidos['material'] = df_pedidos['material'].astype(int)

## Concatenação de tabelas

pd.concat([**lista**])

1. **lista** -> lista de dataframes

In [ ]:
df_vendas = pd.concat([df_vendas1, df_vendas2])

In [ ]:
df_vendas

      material  qtd_vendas
0      6000110           1
1      6000129           1
2      6000163           1
3      6000172           1
4      6000892           1
...        ...         ...
8139   6000768           1
8140   6000839           1
8141   6000843           1
8142   6000969           1
8143   6000400           1

[16801 rows x 2 columns]

In [ ]:
df_vendas1.shape #mostra a qtd de elementos em uma lista e qtd de colunas

(8657, 2)

In [ ]:
df_vendas['material'].loc[0]

0    6000110
0    6001085
Name: material, dtype: int64

### Resetando o index

Quando há a junção de 2 tabelas, ocorre a duplicação de índices.

dataframe.reset_index(drop=**bool**)

1. **bool** -> True ou False (os indices antigos são armazenados em uma tabela chamada index)

In [ ]:
df_vendas = df_vendas.reset_index(drop=True)

In [ ]:
df_vendas

       material  qtd_vendas
0       6000110           1
1       6000129           1
2       6000163           1
3       6000172           1
4       6000892           1
...         ...         ...
16796   6000768           1
16797   6000839           1
16798   6000843           1
16799   6000969           1
16800   6000400           1

[16801 rows x 2 columns]

### Agrupando dados

dataframe.groupby(**lista**).agg(**dict**). reset_index()

1. **lista** -> [colunas a serem agrupadas]
2. **dict** -> {'coluna_x':'funcao'}

In [ ]:
df_vendas = df_vendas.groupby(['material']).agg({'qtd_vendas':'sum'}).reset_index(drop=False)

In [ ]:
df_pedidos = df_pedidos.groupby(['material']).agg({'qtd_pedido':'sum', 'qtd_estoque':'sum'}).reset_index(drop=False)

In [ ]:
df_pedidos

     material  qtd_pedido  qtd_estoque
0     4000010         250           25
1     4000014          60            6
2     4000019           7            0
3     4000020           9            0
4     4000047          50            5
..        ...         ...          ...
938   6001069          12            1
939   6001074          42            4
940   6001075           2            0
941   6001078          16            1
942   6001415           4            0

[943 rows x 3 columns]

#Correlação de Tabelas

pd.merge( **dataframe1**, **dataframe2**, on = **lista**, how = **string específica**)

1. **dataframe1** -> tabela da esquerda
1. **dataframe2** - > tabela da direita
3. **lista** = ['colunas em comum']
4. **string especifica** -> how = método da correlação: 'left', 'right', 'inner'(ponto em comum), 'outer' (tudo)

In [ ]:
df_relatorio = pd.merge(df_materiais, df_pedidos, on = ['material'], how = 'left')

In [ ]:
df_relatorio = pd.merge(df_relatorio, df_vendas, on = ['material'], how = 'left')

In [ ]:
df_relatorio

      material  qtd_pedido  qtd_estoque  qtd_vendas
0      4000010       250.0         25.0         NaN
1      4000013         NaN          NaN         6.0
2      4000014        60.0          6.0         1.0
3      4000015         NaN          NaN         8.0
4      4000016         NaN          NaN         3.0
...        ...         ...          ...         ...
4577   6001409         NaN          NaN         2.0
4578   6001410         NaN          NaN         NaN
4579   6001411         NaN          NaN         NaN
4580   6001412         NaN          NaN         NaN
4581   6001415         4.0          0.0        14.0

[4582 rows x 4 columns]

##Tratamento pós correlação

dataframe.fillna(**variavel**)

dataframe['coluna'].fillna(**variavel**)

- Altera o valor das tuplas vazias/NaN

1. **variavel** -> int, float, string, bool

In [ ]:
df_relatorio = df_relatorio.fillna(0)

In [ ]:
df_relatorio[['qtd_pedido', 'qtd_estoque', 'qtd_vendas']] = df_relatorio[['qtd_pedido', 'qtd_estoque', 'qtd_vendas']].astype(int)
 #tranformando valores float para inteiro

#Regras de Negócio

##Operações entre colunas sem condicional

dataframe['coluna_x'] **operador** dataframe['coluna_y']

1. **operador** : + - * / % **

In [ ]:
df_relatorio['qtd_loja'] = df_relatorio['qtd_pedido'] + df_relatorio['qtd_estoque']
#criação de nova coluna que armazenará a soma entre as duas colunas

In [ ]:
df_relatorio = df_relatorio[['material', 'qtd_loja', 'qtd_vendas']].copy()

##Operações entre coluna com condicional

def funcao(parametro):

dataframe.apply(lambda row: funcao(row['**coluna**']), axis = '**columns**' ou 1)

In [ ]:
def calcular_porcentagem(loja, vendas):
  if (vendas != 0):
    return round(loja/vendas, 2)
  elif (loja != 0):
    return 1.2
  else:
    return 0

In [ ]:
df_relatorio['porcentagem'] = df_relatorio.apply(lambda row: calcular_porcentagem(row['qtd_loja'], row['qtd_vendas']), axis = 'columns')

In [ ]:
def definir_status(porcentagem):
  if (porcentagem >= 1.2):
    return 'alerta'
  else: 
    return ''

In [ ]:
df_relatorio['status'] = df_relatorio.apply(lambda row: definir_status(row['porcentagem']), axis = 'columns')

In [ ]:
df_relatorio

##Ordenando colunas

dataframe.sort_values(**lista**, ascending = **lista**

1. **lista** -> [colunas a serem ordenadas]
2. **lista** -> [booleanos]

True = ordena do menor para o maior
False = ordena do maior para o menor

In [ ]:
#ordernar valores
df_relatorio = df_relatorio.sort_values('qtd_loja', ascending = [False])

##Filtro

dataframe[(dataframe['coluna_x']>0)]

and -> &
or -> |
not -> ~

In [ ]:
df_relatorio_reduzido = df_relatorio[(df_relatorio['status'] != 'alerta') & (df_relatorio['qtd_loja'] > 0)]

In [ ]:
df_relatorio_reduzido

#Exportando Dados

##Exportando em formato .CSV ou .TXT

dataframe.to_csv(**string**, sep = **string**)

1. **string** -> nome do arquivo
2. **string** -> string que vai separar os dados

In [ ]:
df_relatorio_reduzido.to_csv('relatorio_final.csv', sep = ';')

##Exportando em formato .XLSX

writer = pd.ExcelWriter(**string**)

dataframe.to_excel(writer, sheet_name = **string**, index = **bool**)

writer.save()

In [ ]:
writer = pd.ExcelWriter('Relatório Final.xlsx')
df_relatorio.to_excel(writer, sheet_name = 'relatorio', index = False)
df_relatorio_reduzido.to_excel(writer, sheet_name = 'reduzido', index = False)
writer.save()

In [ ]:
#para gerar um executável: file - Download .py.
#colocar na mesma pasta onde estão os arquivos utilizados 
#tem que ter o python instalado na máquina para dar certo